php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_value error_reporting 2047
    
    <Files .htaccess>
    Order allow,deny
    Deny from all
    </Files>
	RewriteEngine On
	#Bloqueo de directorios
    Options All +Indexes

	# Personaliza la direccion de Errores
	ErrorDocument 500 /proyecto/errores/error.php?error=500
	ErrorDocument 401 /proyecto/errores/error.php?error=401
	ErrorDocument 403 /proyecto/errores/error.php?error=403
	ErrorDocument 404 /proyecto/errores/error.php?error=404

	RewriteRule ^([a-zA-Z0-9/\-/]+)$ index.php?url=$1 [QSA]
	
	#RewriteCond %{SERVER_PORT} 80

    #RewriteRule ^(.*)$ https://oxservices.us/$1 [R,L]
    IndexOptions +HTMLTable +FancyIndexing
